@model E_Learning.Models.Student

@{
    ViewData["Title"] = "Thông tin cá nhân";
}

@if (Model == null)
{
    <div class="alert alert-warning">Không tìm thấy thông tin sinh viên</div>
    <a asp-area="Student" asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại</a>
}
else
{
    <h2>@ViewData["Title"]</h2>

    <table class="table">
        <tr><th>MSSV:</th><td>@Model.MSSV</td></tr>
        <tr><th>Họ:</th><td>@Model.FirstName</td></tr>
        <tr><th>Tên:</th><td>@Model.LastName</td></tr>
        

        <tr>
            <td colspan="2">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa hồ sơ</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </td>
        </tr>
    </table>
}